@charset "UTF-8";

body { background-color:#dadada; }


.whiteDiv { 
	background-color:#fff;
	margin:5% 10%;
	text-align:center;
	padding:8%; 
	}
	
	
h1 {margin:2%;}


label {margin:2%}


textarea {margin-bottom:2%;}


.border {margin-bottom:2%;}


#tagP {margin-bottom:2%;}
	
	
#next {
	width:30%;
	float:left;
	background-color:#ea5532;
	border-color:#ea5532;
}


#back {
	width:30%;
	float: right;
	border-color:#ea5532;
	background-color:#fff;
	color:#ea5532;
}


#first {
	width:30%;
	background-color:#ea5532;
	color:#fff;
	border-color:#ea5532;
}