@charset "UTF-8";

body{
	width:90%;
}
table{
	font-size:12px;
}

table th,table td{
	border:1px solid #ddd;
	padding:5px;
}

table td{
	background-color: #F2F2F2;
}
div{
	text-align: right;
}
.center{
	text-align:center;
}