<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<link href="/css/login.css" rel="stylesheet"></link>
<hgroup class="heading">
<h1 class="major">Admin Login</h1>
</hgroup>

<body>

<form th:action="@{/adminauth}" method="post" th:object="${loginform}" class="sign-up">
<p th:text="${errMessage}"></p>
<input type="email" placeholder="E-mail" th:field="*{email}" class="sign-up-input"><br>
<input type="password" placeholder="password" th:field="*{pass}" class="sign-up-input">
<input type="submit" value="ログイン" class="sign-up-button">
</form>


</body>
</html>