<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>取引履歴</title>
<link th:href="@{/css/history.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>
<body>
	<h1>全取引履歴</h1>
	<form th:action="@{/adminmenu/menu}" method="get">
			<input type = "submit" value="戻る"class="btn btn-link">
	</form>
	<div class="container">
		<div class="row">
			<div class="col-12" >
  				<form method="post">
					<table class="table table-striped">
						<thead class="thead-light">
							<tr>

								<th scope="col">料理名</th>
								<th scope="col">依頼者</th>
								<th scope="col">調理者</th>
								<th scope="col">回収日</th>
								<th scope="col">配達日</th>
								<th scope="col">金額</th>
								<th scope="col">製作者利益</th>
								<th scope="col">調理者履歴</th>
								<th scope="col">製作状況</th>
							</tr>
						</thead>

						<tbody>
							<tr th:each="list:${AllList}">
								<td th:text="${list.foodName}"></td>
								<td th:text="${list.cookUserName}"></td>
								<td th:text="${list.requestUserName}"></td>
								<td th:text="${list.RecoveryDate}"></td>
								<td th:text="${list.DeliveryCompleteDate}"></td>
								<td th:text="${list.price}"></td>
								<td th:text="${list.adminProfit}"></td>
								<td th:text="${list.cookerProfit}"></td>
								<td th:text="${list.stateStatus}"></td>
							</tr>
						</tbody>
					</table>
				</form>
  			</div>
  		</div>




</body>
</html>