<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>食べたい物リスト一覧</title>
</head>
<body>
	<form method="get">
		<table>
			<tr th:each="list:${list}">
				<td><input type="radio" name="requestId" th:value="${list.requestId}"></td>
				<td th:text="${list.pictureName}">
				<th th:text="${list.foodName}">
				<td th:text="${list.registDate}">
			</tr>
		</table>

		<input type="submit" formaction="/detailfoodlist" value="詳細">
	</form>

	<form method="get">

		<input type="text" name="keyword">
		<input type="submit" formaction="/seachfoodlist" value="検索">
	</form>

</body>
</html>