<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<title>会員情報修正　完了</title>
</head>
<body style="text-align:center;">

<div style="margin-top:5%; margin-left:auto; margin-right:auto;">
<h1>修正完了</h1>
<p>会員情報の修正が完了しました</p>


<form th:action="@{/mypage}" method="get">
	<input class="btn btn-outline-secondary btn-lg" type="submit" value="戻る" style="background-color:#dcdcdc; width:30%;">
</form>

</div>

</body>
</html>