<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<link th:href="@{/css/contact.css}" rel="stylesheet" type="text/css">
<title>食べたい物リスト登録完了</title>
</head>
<body>

<div class="whiteDiv">
	<h1>追加完了</h1>
	
	<p id="tagP">食べたい物リストに追加しました</p>

	<form th:action="@{/menu}" method="get">
		<input class="btn btn-outline-secondary btn-lg" id="first" type="submit" value="戻る">
	</form>
</div>	

</body>
</html>