<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<link th:href="@{/css/inputFood.css}" rel="stylesheet" type="text/css">
<title>削除確認</title>
</head>
<body>

 <div style="padding:3%;"> 
 	
 	<div style="background-color:#fff; margin:5% 10%;">
	<form th:action="@{/deletefood/delete}" method="post">
	<div class="whiteDiv">
	
		<div class="div">
			<label>料理画像</label>
			<div><img th:src="${image}" alt="サンプル" style="width: 40%; height: auto;"></div>
		</div>
		
		<div class="div">		
				<label>料理名</label>
				<p class="border" id="border" th:text="${dto.foodName}" style="display:block;"></p>
		</div>
		
		<div class="div">
			<label>料理の説明</label>
				<p class="border" id="border" th:text="${dto.requestOutline}"></p>
			
			<label>ジャンル</label>
				<p class="border" id="border" th:text="${genre}"></p>
				
			<label>登録日</label>
				<p class="border" id="border" th:text="${dto.registDate}"></p>
			
		</div>
	</div>
	
		<input type="hidden" name="requestId" th:value="${dto.requestId}">
		<input class="btn btn-primary btn-lg" id="next" type="submit" value="削除">
	</form>
	
	
	<form th:action="@{/foodlist}" method="GET">
		<input class="btn btn-outline-secondary btn-lg" id="back" type="submit" value="戻る">
	</form>
	
	</div>
	
</div>

</body>
</html>