<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<link th:href="@{/css/contact.css}" rel="stylesheet" type="text/css">
<title>お問い合わせ確認</title>
</head>
<body style="background-color:#dadada;">

<div class="whiteDiv">

	<h1>入力内容確認</h1>
	
	<form th:action="@{/inputContact/insert}" method="post">
		<p>以下の内容で送信します</p>
		<div class="text-break">
			<div class="border" th:text="${session['contactInfoDto'].content}" style="padding:3%;"></div>
		</div>	
	
		<input class="btn btn-primary btn-lg" id="next" type="submit" value="送信">
	</form>
	
	<form th:action="@{/inputContact/input}" method="get">
		<input class="btn btn-outline-secondary btn-lg" id="back" type="submit" value="戻る">
	</form>
	
</div>

</body>
</html>