<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/list.css" rel="stylesheet"></link>
<title>配達確認画面</title>
</head>
<body>
	<form th:action="@{/delivery/insert}" method="post">
	<h1>配達確認</h1>
		<table>
			<tr>
				<th>お届け先氏名</th>
				<td th:text="${eater.userName}">
			</tr>
			<tr>
				<th>お届け先住所</th>
				<td th:text="${eater.userAddres}">
			</tr>
			<th>配達依頼者</th>
				<td th:text="${cooker.userName}">
			</tr>
			<tr>
				<th>配達依頼者住所</th>
				<td th:text="${cooker.userAddres}">
			</tr>
			<tr>
				<th>回収時間</th>
				<td th:if="${dto.requestApprovalDay != null}" th:text="${#dates.format(dto.requestDay,'yyyy/MM/dd HH:mm:ss')}">
			</tr>

		</table>
		<input type="hidden" name="historyId" th:value="${dto.historyId}">
		<input type="submit" value = "配達完了">
	</form>
	<form th:action="@{/delivery/mydeliverylist}" method="get">
		<input type="submit" value = "戻る">
	</form>
</body>
</html>