<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<link th:href="@{/css/contact.css}" rel="stylesheet" type="text/css">
<title>評価入力確認</title>
</head>
<body style="background-color:#dadada;">

	<div style="background-color:#fff; margin:5% 10%;">
	<form th:action="@{/history/insertassessment}" method="post">

		<div class="whiteDiv">
		<h1>評価内容確認</h1>
		<p>以下の内容で間違いないでしょうか。</p>
		<label>金額</label>
			<p class="border"th:text="${session['AssessmentInfoDto'].point}"></p></br>
		<label>コメント</label>
			<div class="text-break">
				<p class="border"th:text="${session['AssessmentInfoDto'].assessmentComment}"></p>
			</div>
		</div>
		<input  class="btn btn-primary btn-lg" id="next" type="submit" value="送信">
	</form>

	<form th:action="@{/history/eatdetail}" method="post">
		<input type="hidden" name="historyId" th:value="${session['AssessmentInfoDto'].historyId}">
		<input class="btn btn-outline-secondary btn-lg" id="back" type="submit" value="戻る">
	</form>

</body>
</html>