<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>食べたい物リスト修正確認</title>
</head>
<body>
	<form th:action="@{/updatefood/update}" method="post">
		<p>以下の内容で間違いはないでしょうか</p>
		<table>
			<tr>
				<td>料理名</td>
			</tr>
			<tr>
				<td th:text="${session['foodInfDto'].foodName}"></td>
			</tr>
			<tr>
				<td>料理名の説明</td>
			</tr>
			<tr>
				<td th:text="${session['foodInfDto'].requestOutline}"></td>
			</tr>
			<tr>
				<td>ジャンル</td>
			</tr>
			<tr>
				<td th:text="${genreName}"></td>
			</tr>		
		</table>
		<div th:switch="${session['foodInfDto'].eatFlag}">
    	<p th:case="0">オファー受付可</p>
    	<p th:case="1">オファー受付不可</p>
    	<p th:case="*">エラー</p>
		</div>
		<p>
		<input type="submit" value="修正">
		</p>
	</form>
	
	<form th:action="@{/update_foodlist}">
		<input type="submit" value="戻る">
	</form>
</body>
</html>