<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>配達リクエスト一覧</title>
<link href="/css/deliveryrequestlist.css" rel="stylesheet"></link>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>
<body>

<script  type="text/javascript">

	String nullMsg = null;
	nullMsg = "${nullMsg}";

	if(nullMsg != null){
</script>
	 <p th:text="${nullMsg}"></p>
<script type="text/javascript">
	}else{
</script>

<div tr th:each="list:${list}">


		<div class="container">
			  <div class="row">

			    <div class="col-1">

			    </div>
			    </div>
			  </div>

			  <div class="row">

				<div class="col-md-6">
			    <table class="table">
					<thead class="thead-light">
					<tr>
						<th scope="col">ユーザー名</th>
						<td th:text="${list.userName}">
					</tr>
					<tr>
						<th scope="col">リクエスト日</th>
						<td th:text=" ${#dates.format(list.requestDay,'yyyy/MM/dd HH:mm:ss')}">
						<td>
							<form method='POST'>
								<input type="hidden" name='offerId' th:value="${list.offerId}">
								<input type="submit" formaction="/delivery/requestDetail" value="詳細" class="btn btn-danger btn-lg">
							</form>
						</td>
					</tr>
					</thead>
				</table>
			  </div>
			</div>
		</div>
	 </div>


<script type="text/javascript">
	}
</script>

<form th:action="@{/adminmenu/menu}" method="GET">
		<input type = "submit" value="戻る">
	</form>
</body>
</html>