<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>配達リクエスト一覧</title>
<link th:href="@{/css/history.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>
<body>

	<h1>配達リクエスト一覧</h1>

	<form th:action="@{/adminmenu/menu}" method="GET">
		<input type = "submit" value="戻る">
	</form>

<script  type="text/javascript">

	String nullMsg = null;
	nullMsg = "${nullMsg}";

	if(nullMsg != null){
</script>
	 <p th:text="${nullMsg}"></p>
<script type="text/javascript">
	}else{
</script>



	<div class="container">
				<div class="row">
					<div class="col-12" >
							<table class="table table-striped">
								<thead class="thead-light">
									<tr>
										<th>ユーザー名</th>
										<th>料理名</th>
										<th>リクエスト日</th>
									</tr>
								</thead>

								<tbody>
									<tr th:each="list:${list}">
										<td th:text="${list.userName}">
										<td th:text="${list.foodName}">
										<td th:text=" ${#dates.format(list.requestDay,'yyyy/MM/dd HH:mm:ss')}">
										<td>
											<form th:action="@{/delivery/requestDetail}" method="post">
												<input type="hidden" name='offerId' th:value="${list.offerId}">
												<input type="submit" value="詳細" >
											</form>
										</td>
									</tr>
								</tbody>
							</table>

<script type="text/javascript">
	}
</script>
</body>
</html>