<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/list.css" rel="stylesheet"></link>
<title>料理回収確認画面</title>
</head>
<body>
	<form th:action="@{/delivery/collectioninsert}" method="post">
	<h1>料理回収確認</h1>

		<table>
			<tr>
				<th>配達依頼者</th>
				<td th:text="${cooker.userName}">
			</tr>
			<tr>
				<th>配達依頼者住所</th>
				<td th:text="${cooker.userAddres}">
			</tr>
			<tr>
				<th>お届け先氏名</th>
				<td th:text="${eater.userName}">
			</tr>
			<tr>
				<th>お届け先住所</th>
				<td th:text="${eater.userAddres}">
			</tr>
			<tr>
				<th>リクエスト承認日</th>
				<td th:if="${dto.requestApprovalDay != null}" th:text="${#dates.format(dto.requestApprovalDay,'yyyy/MM/dd HH:mm:ss')}">
				<td th:if="${dto.requestApprovalDay == null}" th:text="配達リクエストが承認されていません">
			</tr>

		</table>
		<input type="hidden" name="offerId" th:value="${dto.offerId}">
		<input type="submit" value = "回収">
	</form>
	<form th:action="@{/delivery/approvallist}" method="get">
		<input type="submit" value = "戻る">
	</form>
</body>
</html>