<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/list.css" rel="stylesheet"></link>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<title>配達リクエスト承認済み料理一覧</title>
</head>
<body>

		<h1>配達リクエスト一覧</h1>
		<form th:action="@{/adminmenu/menu}" method="get">
			<input type = "submit" value="戻る"class="btn btn-link">
		</form>



	<script  type="text/javascript">

	String nullMsg = null;
	nullMsg = "${nullMsg}";

	if(nullMsg != null){
</script>
	 <p th:text="${nullMsg}"></p>
<script type="text/javascript">
	}else{
</script>
		<form th:action="@{/delivery/collectionconfirm}" method="post">
		<table>
			<tr>
				<th>ユーザー名</th>
				<th>リクエスト日</th>
			<tr th:each="list:${list}">
				<td th:text="${list.userName}">
				<td th:text="${#dates.format(list.requestApprovalDay,'yyyy/MM/dd HH:mm:ss')}">
				<td>
					<input type="radio" name="offerId" th:value="${list.offerId}">
				</td>
			</tr>
		</table>
		<input type="submit" value = "回収">
	</form>
<script type="text/javascript">
	}
</script>
</body>
</html>