<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>詳細</title>
</head>
<body>

<p th:text="${dto.foodName}"></p>
<table>
	<tr>
		<th>説明</th>
		<td th:text="${dto.requestOutline}"></td>
	</tr>
	<tr>
		<th>登録日</th>
		<td th:text="${dto.registDate}"></td>
	</tr>

	<form method="POST">
		<input type="hidden" name="requestId" th:value="${dto.requestId}">
		<input type="submit" formaction="/offerinput/input" value="オファー">
	</form>



</table>

</body>
</html>