<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>配達リクエスト詳細</title>
</head>
<body>
	<h1>配達リクエスト詳細</h1>
	<form th:action="@{/delivery/deliveryinsert}" method="post">
		<table>
			<tr>
				<th>調理者</th>
				<td th:text="${cooker.userName}">
			</tr>
			<tr>
				<th>調理者住所</th>
				<td th:text="${cooker.userAddres}">
			</tr>
			<tr>
				<th>依頼者</th>
				<td th:text="${eater.userName}">
			</tr>
			<tr>
				<th>依頼者住所</th>
				<td th:text="${eater.userAddres}">
			</tr>
			<tr>
				<th>リクエスト承認日</th>
				<td th:if="${dto.requestApprovalDay != null}" th:text="${#dates.format(dto.requestApprovalDay,'yyyy/MM/dd HH:mm:ss')}">
				<td th:if="${dto.requestApprovalDay == null}" th:text="配達リクエストが承認されていません">
			</tr>

		</table>
		<input type="hidden" name="offerId" th:value="${dto.offerId}">
		<input type="submit" value = "承認">
	</form>
	<form th:action="@{/delivery/requestlist}" method="get">
		<input type="submit" value = "戻る">
	</form>
</body>
</html>