<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>調理履歴詳細</title>
</head>
<body>

<table>
		<tr>
			<th>作ったもの</th>
			<td th:text="${cookDto.foodName}"></td>
		</tr>
		<tr>
			<th>リクエスト概要</th>
			<td th:text="${cookDto.requestOutline}"></td>
		</tr>
		<tr>
			<th>オファーコメント</th>
			<td th:text="${cookDto.offerComment}"></td>
		</tr>
		<tr>
			<th>提示金額</th>
			<td th:text="${cookDto.price}"></td>
		</tr>
		<tr>
			<th>利益</th>
			<td th:text="${cookDto.profit}"></td>
		</tr>
		<tr>
			<th>状態</th>
			<td th:text="${cookDto.stateStatus}"></td>
		</tr>
		<tr>
			<th>回収日</th>
			<td th:text="${cookDto.recoveryDate}"></td>
		</tr>
		<tr>
			<th>配達完了日</th>
			<td th:text="${cookDto.deliveryCompleteDate}"></td>
		</tr>
	</table>








<form th:action="@{/history/list}" method="get">
		<input type="submit" value="一覧に戻る">
	</form>
</body>
</html>