<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>オファー入力</title>
</head>
<body>
	<table>
 	  	<tr th:if="${validationError}" th:each="error : ${validationError}">
      		<td style="color:red;" th:text="${error}"></td>
   	 	</tr>
  	</table>

  	<form th:action="@{/offerinput/confirm}" enctype="multipart/form-data" method="post" th:object="${CookingForm}">
		<input type="text" placeholder="金額を入力してください" th:field="*{price}"><br>
		<input type="text" placeholder="オファーコメントを入力してください" th:field="*{offerComment}">

		<input type="submit" value="オファーする">

	</form>

</body>
</html>