<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<link href="css/login_user.css" rel="stylesheet"></link>
<body>

<div class="title">
	<img class="rounded" src="http://jousen5.aso-abcc.com/shoppingSystem/img/matchicon.png" width="50" height="50">
	<strong style="margin-left:20px; color:#ea5532;">MatchEats</strong>
</div>

<div style="background-color:#fff; margin:2% 10%;">
	<form th:action="@{/inputUserEntry/input}" method="get">
	<div class="white">
		<div class="item">
			<p>アカウントをお持ちでない方はこちら</p>
			<div style="text-align:center;">
				<input class="btn btn-outline-secondary btn-lg" id="entry" type="submit" value="新規登録">
			</div>
		</div>
	</div>
	</form>


	<form th:action="@{/auth}" method="post" th:object="${loginform}" class="sign-up">
	<p th:text="${errMessage}"></p>
	<div class="form-group" style="margin-top:0px; padding-bottom:50px;">
			<input class="form-control" type="email" placeholder="メールアドレス" th:field="*{email}">
			<input class="form-control" type="password" placeholder="パスワード" th:field="*{pass}">
			<div style="text-align:center; margin-top:5px;">
				<input class="btn btn-primary btn-lg" id="login" type="submit" value="ログイン">
			</div>
	</div>
	</form>
</div>




</body>
</html>