<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>配達一覧</title>
</head>
<body>
	<p>配達一覧</p>
	<form th:action="@{/delivery/confirm}" method="post">
		<table>
			<tr>
				<th>ユーザー名</th>
				<th>回収時間</th>
			<tr th:each="list:${list}">
				<td th:text="${list.userName}">
				<td th:text="${#dates.format(list.requestDay,'yyyy/MM/dd HH:mm:ss')}">
				<td>
					<input type="radio" name="historyId" th:value="${list.historyId}">
				</td>
			</tr>
		</table>
		<input type="submit" value = "詳細">
	</form>
	<form th:action="@{/admin/menu}" method="get">
		<input type = "submit" value="戻る">
	</form>
</body>
</html>