<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<title>食べたい物リスト一覧</title>
</head>
<body style="background-color:#f8f9fa;">

	<header style="background-color:#fff;">
		<div th:replace="layout/header :: afterheader" ></div>
	</header>

	<div class="container" style="margin:5% 1%;">
		<div class="row">
			<div id="side" th:replace="layout/side :: side"></div>

			<div class="col-7" style="margin-left:80px;">
				<p style="margin-bottom:0px; padding-left:10px; padding-top:10px; padding-bottom:10px; background-color:#fff;
						color:#ea5532; border-bottom:2px solid #ea5532;">投稿リスト</p>
				<table class="table" style="background-color:#fff">
					<thead style="background-color: #fafafa;">
					    <tr>
					      <th scope="col"></th>
					      <th scope="col"></th>
					      <th scope="col">料理名</th>
					      <th scope="col">投稿日</th>

					    </tr>
					 </thead>

					 <tbody>
					 	<form method="get">
							<tr th:each="list:${list}">
								<td>
									<input type="radio" name="requestId" th:value="${list.requestId}">
								</td>
								<td><img th:src="'/MatchEats/getImage/' + ${list.pictureName}" class="img-fluid" width="200px" height="100px"></td>
								<td th:text="${list.foodName}">
								<td th:text="${#dates.format(list.registDate,'yyyy/MM/dd')}">
							</tr>


					 </tbody>
				</table>
						<input type="submit" class="btn btn-danger btn-lg btn-block" formaction="/updatefoodlist/input" value="修正">
						<input type="submit" class="btn btn-outline-danger btn-lg btn-block" formaction="/deletefood/confirm" value="削除">
						<input type="submit" class="btn btn-danger btn-lg btn-block" formaction="/MatchEats/updatefoodlist/input" value="修正(AWS用)">
						<input type="submit" class="btn btn-outline-danger btn-lg btn-block" formaction="/MatchEats/deletefood/confirm" value="削除(AWS用)">
					</form>
			</div>
		</div>
	</div>


</body>
</html>