<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<title>食べたい物リスト一覧</title>
</head>
<body style="background-color:#f8f9fa;">

<script>
	function check() {
  		var radioList = document.getElementById("requestId");
  		for(var i=0; i<radioList.length; i++){
  			if (radioList[i].checked) {
  				alert("いや");
  				return true;
			}else{
				alert("修正または削除したい食べたい物リストを選択してください");
  	  			return false;
  		}
					
 </script> 		
  		
	<header style="background-color:#fff;">
		<div th:replace="layout/header :: afterheader" ></div>
	</header>

	<div class="container" style="margin:5% 1%;">
		<div class="row">
			<div id="side" th:replace="layout/side :: side"></div>

			<div class="col-7" style="margin-left:80px;">
				<p style="margin-bottom:0px; padding-left:10px; padding-top:10px; padding-bottom:10px; background-color:#fff;
						color:#ea5532; border-bottom:2px solid #ea5532;">投稿リスト</p>
				<table class="table" style="background-color:#fff">
					<thead style="background-color: #fafafa;">
					    <tr>
					      <th scope="col"></th>
					      <th scope="col">料理名</th>
					      <th scope="col">投稿日</th>
						  <th scope="col"></th>
					      <th scope="col"></th>
					    </tr>
					 </thead>

					 <tbody>
							<tr th:each="list:${list}">
								<td><img th:src="'/MatchEats/getImage/' + ${list.pictureName}"  width="200px" height="100px"></td>
								<td th:text="${list.foodName}">
								<td th:text="${#dates.format(list.registDate,'yyyy/MM/dd')}">
								<td>
									<form th:action="@{/updatefoodlist/input}" method="GET">
		      							<input type="hidden" name="requestId" th:value="${list.requestId}">
		      							<input type="submit" class="btn btn-link" value="修正">
		      						</form>
								</td>
								<td>
									<form th:action="@{/deletefood/confirm}" method="GET">
		      							<input type="hidden" name="requestId" th:value="${list.requestId}">
		      							<input type="submit" class="btn btn-link" value="削除">
		      						</form>
								</td>
							</tr>

					 </tbody>
				</table>				
			</div>
		</div>
	</div>


</body>
</html>