<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<title>オファー送信履歴</title>
</head>
<body>
	<header>
		<div th:replace="layout/header :: afterheader" ></div>
	</header>

	<div class="container">
		<div class="row">
			<div id="side" th:replace="layout/side :: side"></div>

			<div class="col-7" style="margin-left:80px;">
				<p class="text-black-50">オファー一覧</p>
				<table class="table table-striped">
					<thead class="thead-light">
					    <tr>
					      <th scope="col">料理名</th>
					      <th scope="col">金額</th>
					      <th scope="col">オファー日</th>
					      <th scope="col">オファーコメント</th>
					      <th scope="col"></th>
					    </tr>
					 </thead>
					 
					 <tbody>						
						<tr th:each="list:${list}">
							<td th:text="${list.foodName}"></td>
							<td th:text="${list.price}"></td>
							<td th:text="${#dates.format(list.offerDate,'yyyy/MM/dd HH:mm:ss')}">
							<td th:text="${list.offerComment}"></td>
							<td>
								<form method="post">
									<input type="hidden" name="offerId" th:value="${list.offerId}">
									<input type="submit" class="btn btn-link" formaction="/cookingoffer/deleteconfirm" value="取り消し">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</body>
</html>