<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.row{
margin-bottom: 10px;
}

</style>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<title>リアクション一覧</title>
</head>
<body>


	<header>
		<div th:replace="layout/header :: afterheader" ></div>
	</header>

	<div th:each="reactionList:${reactionList}">

		<div class="container">
			  <div class="row">
			    <div class="col-3">
					<h5 th:text="'調理者:' + ${reactionList.userName}"></h5>
			    </div>
			    <div class="col-7">
			  
			    </div>
			    <div class="col-1">
			    	<form th:action="@{/pay}" method='get'>
						<input type="hidden" name='offerId' th:value="${reactionList.offerId}">
						<input type="submit"  value="詳細" class="btn btn-danger btn-lg">
					</form>
			    </div>
			     <div class="col-1">
			      	<form th:action="@{/reject}" method='get'>
						<input type="hidden" name='offerId' th:value="${reactionList.offerId}">
						<input type="submit" value="拒否" class="btn btn-primary btn-lg">
					</form>
			    </div>
			  </div>
			  
			  <div class="row">
				<div class="col-md-6">
					<img th:src="'/MatchEats/getImage/' + ${reactionList.pictureName}" class="img-fluid">
				</div>
				
				<div class="col-md-6">
			    <table class="table">
					<thead class="thead-light">
					<tr>
						<th scope="col">料理名</th>
						<td th:text="${reactionList.foodName}">
					</tr>
					<tr>
						<th scope="col">金額</th>
						<td th:text="'¥' + ${reactionList.price}">
					</tr>
						<tr>
						<th scope="col">オファーコメント</th>
						<td th:text="${reactionList.offerComment}">
					</tr>
					</thead>	
				</table>
			  </div> 
			</div>
		</div>
	 </div>
</body>
</html>