<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>リアクション一覧</title>
</head>
<body>	
	<table>
	<div th:each="reactionList:${reactionList}">
	
		<tr>
			<form method='get'>
				<input type="hidden" name='offerId' th:value="${reactionList.offerId}">
				<td><input type="submit" formaction="/pay" value="依頼"></td>
			</form>
		</tr>
		<tr>
			<form method='get'>
				<input type="hidden" name='offerId' th:value="${reactionList.offerId}">
				<td><input type="submit" formaction="/reject" value="拒否"></td>
			</form>
		</tr>
		<tr>
			<td th:text="${reactionList.userName}">
		</tr>
		<tr>
			<td th:text="'¥:' + ${reactionList.price}">
		</tr>
		<tr>
			<td th:text="${reactionList.foodName}">
		</tr>
		<tr>
			<td th:text="'コメント:' + ${reactionList.offerComment}">
		</tr>
	</div>
	</table>

			

</body>
</html>