<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<title>売上申請確認</title>
</head>
<body style="background-color:#f8f9fa;">
	<header style="background-color:#fff;">
		<div th:replace="layout/header :: afterheader" ></div>
	</header>

	<div class="container" style="margin:5% 1%;">
		<div class="row">
			<div id="side" th:replace="layout/side :: side"></div>

			<div class="col-7" style="margin-left:80px;">
			<p style="margin-bottom:0px; padding-left:10px; padding-top:10px; padding-bottom:10px; background-color:#fff;
						color:#ea5532; border-bottom:2px solid #ea5532;">売上振り込み申請確認</p>
			<table class="table" style="background-color:#fff">
				<tbody>
					<tr>
						<th scope="row">売上</th>
					</tr>
					<tr>
						<td th:text="'¥' + ${userInfoDto.sales}"></td>
					</tr>

						<tr>
						<th scope="row">累計売上</th>
					</tr>
					<tr>
						<td th:text="'¥' + ${userInfoDto.totalprice}"></td>
					</tr>
				</tbody>
			</table>
			<form th:action="@{/transferRegistration}" method="post">
				<input class="btn btn-danger btn-lg btn-block" th:if="${userInfoDto.sales != 0}" type="submit" value="振り込み申請する">
			</form>
			</div>
		</div>
	</div>



</body>
</html>