<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>検索結果</title>
</head>
<body>

<script  type="text/javascript">

	String nullMsg = null;
	nullMsg = "${nullMsg}";

	if(nullMsg != null){
</script>
	 <p th:text="${nullMsg}"></p>
<script type="text/javascript">
	}else{
</script>


	<form method="post">
		<table>
			<tr th:each="list:${list}">
				<td><input type="radio" name="requestId" th:value="${list.requestId}"></td>
				<td th:text="${list.pictureName}">
				<th th:text="${list.foodName}">
				<td th:text="${list.registDate}">
			</tr>
		</table>

		<input type="submit" formaction="/detailfoodlist" value="詳細">
	</form>
<script type="text/javascript">
	}
</script>
</body>
</html>