<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<link th:href="@{/css/card.css}" rel="stylesheet" type="text/css">
<title>検索結果</title>
</head>
<body>
	<header>
		<div th:unless="${loginFlg}">
			<div th:replace="layout/header :: beforeheader" ></div>
		</div>
		<div th:if="${loginFlg}">
			<div th:replace="layout/header :: afterheader" ></div>
		</div>
	</header>

<script  type="text/javascript">

	String nullMsg = null;
	nullMsg = "${nullMsg}";

	if(nullMsg != null){
</script>
	 <p th:text="${nullMsg}" style="text-align:center"></p>
<script type="text/javascript">
	}else{
</script>


	<div class="album bg-light">
		<div class="container">
			<div class="card-columns">
				<div class="card shadow-sm" th:each="list:${list}">
					<img th:src="'/MatchEats/getImage/' + ${list.pictureName}" class="card-img-top" alt="img">
					<div class="card-body">
						<h5 th:text="${list.foodName}"></h5>
						<form th:action="@{/detailfoodlist}" method="get">
							<input type="hidden" name="requestId" th:value="${list.requestId}">
							<input type="submit" class="btn btn-link" value="詳細" style="display: block;margin: 0 0 0 auto;">
						</form>	
					</div>
				</div>
			</div>
		</div>
	</div>

		
<script type="text/javascript">
	}
</script>
</body>
</html>