<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>決済</title>
</head>
<body>

<form th:action="@{/charge}" method='POST' id='checkout-form'>
    <input type='hidden' th:value='${amount}' name='amount'/>
    <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
    <script
    	src='https://checkout.stripe.com/checkout.js'
    	class='stripe-button'
       	th:attr='data-key=${stripePublicKey},
       	data-amount=${amount},
       	data-currency=${currency},
       	data-name=${foodName},
       	data-description=${content}'
       	data-locale='auto'
      	data-zip-code='false'>
   </script>
</form>
</body>
</html>