<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>振り込み申請一覧</title>
<link th:href="@{/css/history.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
</head>
<body>
	<h1>振込申請一覧</h1>
	<form th:action="@{/adminmenu/menu}" method="get">
			<input type = "submit" value="戻る"class="btn btn-link">
	</form>

	<div class="container">
				<div class="row">
					<div class="col-12" >
  						<form th:action="@{/adminmenu/transfer/confirmapproval}" method="POST">
							<table class="table table-striped">
								<thead class="thead-light">
								<tr>
									<th scope="col">ユーザー名</th>
									<th scope="col">金額</th>
									<th scope="col">依頼日</th>
									<th scope="col"></th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="list:${list}">
									<td></td>
									<td th:text="${list.price}"></td>
									<td th:text="${list.transferDate}"></td>

									<td>
										<input type="hidden" name="historyId" th:value="${list.transferId}">
										<input type="submit" class="btn btn-link" formaction="" value="承認">
									</td>
								</tr>
						</tbody>
					</table>
				</form>
  			</div>
  		</div>
  		</div>

</body>
</html>