<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.2/css/bootstrap.min.css}">
<link th:href="@{/css/inputFood.css}" rel="stylesheet" type="text/css">
<title>食べたい物リスト修正内容入力</title>
</head>
<body>
  	
<div style="padding:3%;"> 	  	
  	
  	<div style="background-color:#fff; margin:5% 10%;">
	<form th:action="@{/updatefoodlist/confirm}" enctype="multipart/form-data" method="post" th:object="${FoodForm}">
	<input type="hidden" th:field="*{requestId}">
	<div class="whiteDiv">
	
		<div class="div">
			<label>料理画像</label><span>必須</span>
			<div class="pic">
			<img th:src="'/MatchEats/getImage/' + *{fileName}"  alt="サンプル" width="70%" height= "180px">
			</div>
		</div>
		
		<div class="form-group" style="padding:40px; border-bottom:solid 0.5px #dadada;">
			<label>料理名</label><span>必須</span>
				<input class="form-control" type="text" placeholder="料理名" th:field="*{foodName}"  th:classappend="${#fields.hasErrors('foodName')} ? 'is-invalid'">
				<div class="text-danger" th:if="${#fields.hasErrors('foodName')}" th:errors="*{foodName}"></div>
			<label>料理の説明</label><span>必須</span>
				<textarea class="form-control" placeholder="料理の説明" th:field="*{requestOutline}" th:classappend="${#fields.hasErrors('requestOutline')} ? 'is-invalid'"></textarea>
				<div class="text-danger" th:if="${#fields.hasErrors('requestOutline')}" th:errors="*{requestOutline}"></div>
			<label>料理のジャンル</label><span>必須</span>
				<select name="genreId" class="form-control">
					<option th:value="*{genreId}" th:text="*{genreName}"></option>
					<option th:each="genre : ${list}" th:value="${genre.genreId}" th:text="${genre.genreName}"></option>
				</select>
		</div>
		
	
		
		<div class="form-group" style="padding:40px; border-bottom:solid 0.5px #dadada;">
			<div th:switch="*{eatFlag}">
				<div th:case="0">
					<input type="radio" name="eatFlag" value="0" checked/>オファー受付可
		   			<input type="radio" name="eatFlag" value="1" />オファー受付不可
		   		</div>
		   		<div th:case="*">
					<input type="radio" name="eatFlag" value="0" />オファー受付可
		   			<input type="radio" name="eatFlag" value="1" checked/>オファー受付不可
		   			<div class="text-danger" th:if="${#fields.hasErrors('eatFlag')}" th:errors="*{eatFlag}"></div>
		   		</div>
		   	</div>
		   
		 </div>
	</div>
		 
		 
		
		<input class="btn btn-primary btn-lg" id="next" type="submit" value="登録">
	</form>
		
	<form th:action="@{/foodlist}">
		<input class="btn btn-outline-secondary btn-lg" id="back" type="submit" value="戻る">
	</form>
	</div>
	
</div>

</body>
</html>